box-shadow(args...)
  -moz-box-shadow: args
  -webkit-box-shadow: args
  -o-box-shadow: args
  box-shadow: args

transform(args...)
  -moz-transform: args
  -webkit-transform: args
  -o-transform: args
  -ms-transform: args
  transform args
