box-shadow(args...)
  -moz-box-shadow args
  -webkit-box-shadow args
  -o-box-shadow
  box-shadow args

transform(args...)
  -moz-transform args
  -webkit-transform args
  -o-transform args
  -khtml-transform args

border-top-left-radius(r)
  -webkit-border-top-left-radius r
  -khtml-border-top-left-radius r
  -moz-border-radius-topleft r
  border-top-left-radius r

border-top-right-radius(r)
  -webkit-border-top-right-radius r
  -khtml-border-top-right-radius r
  -moz-border-radius-topright r
  border-top-right-radius r

border-bottom-right-radius(r)
  -webkit-border-bottom-right-radius r
  -khtml-border-bottom-right-radius r
  -moz-border-radius-bottomright r
  border-bottom-right-radius r

border-bottom-left-radius(r)
  -webkit-border-bottom-left-radius r
  -khtml-border-bottom-left-radius r
  -moz-border-radius-bottomleft r
  border-bottom-left-radius r
